@model IEnumerable<DataLayer.Footballer>
@{
}

<br>
<h2>Список футболистов</h2>
<table class="table">
    <thead>
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Пол</th>
            <th>Дата рождения</th>
            <th>Команда</th>
            <th>Страна</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
        <tr>
            <td>@item.Name</td>
            <td>@item.Surname</td>
            <td>@item.Gender</td>
            <td>@item.Birthday.ToString("d")</td>
            <td>@item.TeamId</td>
            <td>@item.Country</td>
            <td>
                <a class="btn btn-primary btn-sm" asp-controller="FootballersList" asp-action="edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-danger btn-sm" asp-controller="FootballersList" asp-action="delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
